.D3Chart {
	--dark-color: #303f9f;
	--light-color: #8E9AEB;

	cursor: grab;
	height: 100%;
	width: 100%;
}

.D3Chart #triangle {
	fill: var(--dark-color);
}

.D3Chart circle {
	cursor: move;
	fill: var(--light-color);
	stroke: var(--dark-color);
}

.D3Chart circle.root {
	fill: #EBC752;
	stroke: #9F8530;
}

.D3Chart line {
	marker-end: url(#triangle);
	stroke: var(--dark-color);
	stroke-width: 1.5;
}

.D3Chart text {
	cursor: pointer;
	font-size: 9px;
	text-shadow:
		-0.5px -0.5px 0 #fff,
		0.5px -0.5px 0 #fff,
		-0.5px 0.5px 0 #fff,
		0.5px 0.5px 0 #fff;
	transition: opacity 0.2s ease;
}

.d3-tip {
	--shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

	background-color: #fff;
	border: 1px solid black;
	box-shadow: var(--shadow);
	display: flex;
}

.d3-tip:after {
	text-shadow: var(--shadow);
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.8);
	content: '\25BC';
	display: inline;
	font-size: 10px;
	left: 0;
	line-height: 1;
	margin: -1px 0 0 0;
	position: absolute;
	text-align: center;
	top: 100%;
	width: 100%;
}
