.EntitySelect .EntitySelect__option__description {
	font-size: 0.8em;
}

.EntitySelect .EntitySelect__value-container .EntitySelect__option__description {
	display: none;
}

.EntitySelect .EntitySelect__control--is-focused .EntitySelect__single-value {
	color: #aaa;
}
