.Form {
	--border: 1px solid #ccc;
	--border-radius: 4px;

	display: flex;
	flex-direction: column;
	margin: 30px;
	width: 300px;
}

.Form > * {
	margin-top: 10px;
}

.Form > *:first-child {
	margin-top: 0;
}

.Form label {
	color: #fff;
	display: flex;
	flex-direction: column;
}

.Form label * {
	color: #000;
}

Form .Form__sparql {
	font-style: italic;
}

.Form input[type='number'] {
	border-radius: var(--border-radius);
	border: var(--border);
	padding: 10px;
}

.Form textarea {
	border-radius: var(--border-radius);
	border: var(--border);
	height: 300px;
	width: 100%;
}

.Form button {
	border-radius: var(--border-radius);
	border: var(--border);
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 10px;
	transition: all 0.4s ease;
}

.Form button:hover {
	background-color: #eee;
}
