.Form {
	display: flex;
	flex-direction: column;
	margin: 30px;
	width: 300px;
}

.Form .Form__number-inputs {
	display: grid;
	grid-gap: 4%;
	grid-template-columns: 48% 48%;
}

Form .Form__sparql {
	font-style: italic;
	margin-top: 40px;
}

.Form textarea {
	height: 300px;
	width: 100%;
}
